{% extends 'base.html' %}

{% block title %} Create User {% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 25px; margin-bottom: 25px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if not user.is_authenticated %}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center"> New account </h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button class="button-49" type="submit" role="button">Sign in</button>
                                <div class="text-center">
                                    <a href="{% url 'login' %}" style="font-size: small">You already have an account?
                                        Log-in!</a>
                                </div>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="container-fluid" style="margin-top: 25px; margin-bottom: 25px;">
                        <div class="row">
                            <div class="">
                                <h1 class="text-center">You are still logged in! If you want to create a new account,
                                    log out!</h1>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

