{% extends 'base.html' %}


{% block title %}{% endblock %}



{% block content %}
    <div class="container-fluid" style="margin-top: 150px;">
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                <h4 class="text-center">Are you sure you want to delete?</h4>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-danger">Yes</button>
                <a href="{% url 'detail-user' user.id %}" class="btn btn-danger">No</a>
            </div>
        </form>
    </div>
{% endblock %}