<nav class="navbar navbar-expand-lg" style="background-color: #FF013C">
    <div class="container-fluid">
        <img class="navbar-brand"
             src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Fbears-logo-transparent%2Fbears-logo-transparent-8.png&f=1&nofb=1&ipt=9b6f724f443e20de8c7bcab7ae8802b0dc1c161da96e5839c84b3e390552ac47&ipo=images"
             width="40px" height="45px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        My account, {{ user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'detail-user' user.id %}">My account</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                {% else %}
                {% endif %}


                </li>
            </ul>
            <form method="get" class="d-flex" role="search" action="{% url 'search' %}" style="width: 350px">
                <input class="form-control me-2" type="search" name="search" placeholder="Search for posts"
                       aria-label="Search">
{#                <button class="btn btn-outline-success" type="submit">Search</button>#}
            </form>
        </div>
    </div>
</nav>