{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <h1 class="text-center">{{ post.title }}</h1>
                <hr class="solid" style="border-top: 3px solid #bbb;">
                <p> {{ post.description | safe }}</p>

                {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="..." height="400">
                {% endif %}

                <hr class="solid" style="border-top: 3px solid #bbb;">

                <div class="row">
                    <div class="col-1">
                        {#like form#}
                        <form action="{% url 'like_post' post.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">
                                Like {{ post.total_like }}</button>
                        </form>
                    </div>
{#                    <div class="col-1">#}
                        {#dislike form#}
{#                        <form action="{% url 'dislike_post' post.pk %}" method="post">#}
{#                            {% csrf_token %}#}
{#                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">#}
{#                                Dislike {{ post.total_dislike }}</button>#}
{#                        </form>#}
{#                    </div>#}
                </div>

                <hr class="solid" style="border-top: 3px solid #bbb;">

                <h2 style="margin-top: 20px;">Leave a comment!</h2>
                <div id="comments_section">

                    {% if user.is_authenticated %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form }}
                                <button class="button-49" type="submit" style="margin-top: 20px; margin-bottom: 20px;">
                                    Add comment <i class="fas fa-comments"></i>
                                </button>
                            </div>
                        </form>
                    {% else %}
                        <a class="button-49" href="{% url 'login' %}?next={{ request.path }}">Log in to add a
                            comment!</a><br>
                    {% endif %}

                    {% if comments %}
                        <strong class="text-secondary">{{ object.number_of_comments }}
                            Comment{{ object.number_of_comments|pluralize }}</strong>
                        <hr>
                        <ul>
                            {% for comment in comments %}
                                <li>
                                    <div>
                                        <span>
                                          <strong style="color: red;">{{ comment.author }} </strong>
                                          <small class="text-muted">{{ comment.date_posted }}</small>
                                        </span>
                                        <p>
                                            {{ comment.content|safe }}
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <strong class="text-secondary">No comments yet...</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
















