{% extends 'base.html' %}

{% block title %} Create new post {% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-bottom: 30px; margin-top: 40px;">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p | safe }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

