{% extends 'base.html' %}

{% block title %} List of student {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if all_posts %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Posted on</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in all_posts %}
                            <tr>
                                <td>{{ post.title }}</td>
                                <td>{{ post.created_on }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                        {% else %}
                    <h3 class="text-center">No posts</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}